:root {
    --main-color-ll: #7ECBD8;
    --main-color-l: #37B6CE;
	--main-color: #04859D;
    --main-color-d: #206876;
    --main-color-dd: #015666;

    --secondery-color: #EEE;
    --secondery-color-d: #DDD;
    --secondery-color-dd: #CCC;

    --main-text-color: #222;

    --green-color-ll: #65E080;
    --green-color-l: #38E05D;
    --green-color: #00C12B;
    --green-color-d: #24913C;
    --green-color-dd: #007D1C;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-text-color);
}
body.lang {
    display: flex;
    padding: 0px;
    margin: 0px;
}

a { 
    text-decoration: none; 
    border-radius: 8px;
    padding: 4px 8px;
    display: block;
}
a:link, a:visited { 
    color: var(--main-color); 
}
a:hover {
    background-color: var(--main-color-dd);
    color: white;
}

nav {
    width: 270px;
    background-color: #04859D;
    padding: 16px 0px 16px 16px;
    color: white;
}
nav a:link, nav a:visited {
    color: white;
}
h1 a:link, h1 a:visited {
    color: white;
}
.content {
    flex: 1;
    padding: 20px;
}

h1 {
	text-align: center;
    background-color: var(--main-color);
	color: white;
	margin: 0 0 16px 0;
	padding: 1%;
    border-radius: 8px;
    cursor: pointer;
}

.home{
	width: 100%;
	margin-top: 20px;
    border-collapse: collapse;
}
.home thead tr {
	border-radius: 8px;
    background-color: var(--secondery-color-dd);
}
.home thead tr th { 
    padding: 8px; 
}
.home thead tr th:first-child { 
    border-radius: 8px 0 0 8px;
}
.home thead tr th:last-child { 
    border-radius: 0 8px 8px 0;
}

.home tbody td {
	text-align: left;
	padding: 8px 8px;
	vertical-align: top;
}
.home tbody tr td:first-child { 
    border-radius: 8px 0 0 8px;
}
.home tbody tr td:last-child { 
    border-radius: 0 8px 8px 0;
}
.home tbody tr:nth-child(even){
	background: var(--secondery-color);
}
.home tbody tr:hover {
    background-color: var(--main-color-ll);
}
.home .code {
    text-align: center;
    padding: 12px;
    width: 5%;
}

.home .lang {
    text-align: left;
    width: 15%;
}
.home thead .lang {
    padding: 8px 16px;
}
.home .ts {
    text-align: center;
    padding: 12px;
    width: 15%;
}
.home .tm {
    text-align: center;
    padding: 12px;
    width: 5%;
}
.home .tm:nth-child(even){
	border-left: 3px solid var(--main-color);
}
.home .tm:nth-child(odd){
	border-right: 3px solid var(--main-color);
}

.home .comb {
    text-align: center;
    padding: 12px;
    width: 10%;
}


.home .dop-info {
    font-size: 0.8em;
    padding: 0px 8px;
    display: none;
}

h1 .dop-info {
    font-size: 0.5em;
    padding: 0px 8px;
    display: none;
}
.content tbody tr:hover {
    background-color: white;
}
.content h1 tbody tr:hover {
    background-color: var(--main-color);
}

.select-in-table {
    border-radius: 16px;
    border: var(--main-color-dd) solid 2px;
    padding: 2px 8px;
}
.select-in-table:hover {
    background-color: var(--main-color-dd);
    color: white;
}

.comment {
    width: 100%;
    min-height: 72px;
    padding: 15px;
    margin-top: 5px;
    border: 2px solid var(--secondery-color-dd);
    border-radius: 8px;
    font-size: 1.2em;
    box-sizing: border-box;
    background-color: var(--secondery-color);
    resize: none;
}
.comment:focus {
    border-color: var(--main-color-dd);
    outline: none;
    background-color: #fff;
}

.comment.main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.add-comment-button {
    margin-top: 5px;
    background-color: var(--main-color-ll);
    color: var(--main-text-color);
    padding: 8px;
    border: 2px solid var(--main-color-ll);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 70px;
    font-size: large;
}

.add-comment-button:hover {
    border: 2px solid var(--main-color-dd);
    background-color: var(--main-color-ll);
}

footer {
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 1%;
}

.button-sort-table {
    background-color: var(--main-color);
    color: white;
    padding: 1px 3px 1px 3px;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    cursor: pointer;
}
.button-sort-table:hover {
    background-color: var(--main-color-dd);
    border-color: var(--main-color-dd);
}

.add-image-button {
    margin-top: 5px;
    margin-left: 1%;
    background-color: var(--main-color);
    color: white;
    padding: 4px 8px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    cursor: pointer;
}
.add-image-button:hover {
    border: 2px solid var(--main-color-dd);
}
.add-image-form {
    max-width: 10%;
    padding: 8px;
}

.images-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.images-div img {
    max-width: 10%;
    padding: 8px;
}
.images-div .img-zoom:hover {
    max-width: 100%;
}



.img-zoom-btn {
    background-color: var(--main-color-ll);
    color: white;
    padding: 4px 16px;
    width: 10%;
    margin-left: 8px;
    border: 4px solid var(--main-color-ll);
    border-radius: 8px;
    cursor: pointer;
}
.img-zoom-btn:hover {
    border-color: var(--main-color);
}
.img-zoom-btn.zoom {
    background-color: var(--main-color-dd);
    border-color: var(--main-color-dd);
}
.img-zoom-btn.zoom:hover {
    border-color: var(--main-color);
}



.select-in-table-animation {
    animation: 0.5s linear(0 0%, 1 50%, 0 100%) 0s select-in-table-animation;
}

@keyframes select-in-table-animation {
    from { background-color: white; }
    to { background-color: var(--green-color-ll); }
}

.comment-animation {
    animation: 0.5s linear(0 0%, 1 50%, 0 100%) 0s comment-animation;
}

@keyframes comment-animation {
    from { border-color: var(--secondery-color-dd); }
    to { border-color: var(--green-color-dd); }
}
